.frame {
  display: flex;
  flex-direction: column;
  height: 982px;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  padding: 500px;
  position: relative;
  background-color: #050505;
}

.frame .div {
  display: flex;
  flex-direction: column;
  width: 421px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  margin-top: -92.5px;
  margin-bottom: -92.5px;
}

.frame .text-wrapper {
  position: relative;
  width: 467px;
  height: 148px;
  margin-top: -2px;
  margin-left: -1px;
  margin-right: -45px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: relative;
  width: 436px;
  height: 50px;
  margin-left: -1px;
  margin-right: -14px;
  margin-top: -31px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fffcfc;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
