.frame {
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height of the frame to 100% of the viewport height */
}

.frame .div {
  background-color: #050505;
  width: 1920px;
  height: 1080px;
}

.frame .text-wrapper {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 128px;
  text-align: center; /* Center the text horizontally */
}

.frame .p {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fffcfc;
  font-size: 32px;
  text-align: center; /* Center the text horizontally */
}
